Flask==1.1.2
Flask-Cors==3.0.9
Flask-SQLAlchemy==2.4.4
Flask-Migrate==2.5.3
Flask-RESTful==0.3.8
Flask-APScheduler==1.11.0
Flask-Script==2.0.6
Flask-Login==0.5.0
Flask-Bcrypt==0.7.1
PyMySQL==0.10.1
gevent==1.4.0
greenlet==0.4.17
gunicorn==19.9.0
# for windows you need  celery==3.1.25 and redis==2.10.6
celery==4.4.6
redis==3.5.3
werkzeug==0.16.0

